@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<div class="alert alert-info" role="alert">
		<p> <em> <h2 class="display-4">Вас вітає AirlineManager</h2> <em> </p>
	</div>
</div>

